{# Video-banner.twig #}
<section class="video-banner">
    {% if component.text_area %}
    <style>
        .video-banner video
        {
            filter: brightness(0.5);
        }
        .video-banner
        {
            position: relative;
        }
        .video-banner h1
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            font-family: sans-serif;
            color: #f7dcbe;
        }
        salla-maintenance-alert
        {
            display: none;
        }
    </style>
        <h1>{{ component.text_area }}</h1>
    {% endif %}

    {% if component.url %}
        <video src="{{ component.url }}" autoplay loop playsinline></video>
    <script>

        setTimeout(() => {
            
        
        document.querySelector("video").play();

    }, 5000);
    </script>
    {% endif %}
</section>
