{# Video-banner.twig #}
<section class="video-banner">
    {# {% if component.string %}
        <h3>{{ component.string }}</h3>
    {% endif %} #}

    {% if component.url %}
        <video src="{{ component.url }}" autoplay loop></video>
    {% endif %}
</section>
